In [1]:
dataset=[['Bread','Milk','Beer'],['Bread','Diapers','Eggs'],['Milk','Diapers','Beer','Cola'],\
         ['Bread','Milk','Diapers','Beer'],['Bread','Milk','Cola']]
print(dataset)

[['Bread', 'Milk', 'Beer'], ['Bread', 'Diapers', 'Eggs'], ['Milk', 'Diapers', 'Beer', 'Cola'], ['Bread', 'Milk', 'Diapers', 'Beer'], ['Bread', 'Milk', 'Cola']]

In [2]:
list8=[]
for x in range(len(dataset)):
    for i in range(len(dataset[x])):
        if dataset[x][i] not in list8:
               list8.append(dataset[x][i])
print(list8)

['Bread', 'Milk', 'Beer', 'Diapers', 'Eggs', 'Cola']

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te=TransactionEncoder()
te= te.fit(dataset) ## Read all unique items from dataset
te_ary=te.transform(dataset) ## converts into matrix having values true or false
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [4]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [5]:
from mlxtend.frequent_patterns import apriori
frequent_items=apriori(df,min_support=0.6,use_colnames=True)
frequent_items

   support       itemsets
0      0.6         (Beer)
1      0.8        (Bread)
2      0.6      (Diapers)
3      0.8         (Milk)
4      0.6   (Milk, Beer)
5      0.6  (Milk, Bread)

In [6]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_items,metric='support',min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [7]:
rules=association_rules(frequent_items,metric='support',min_threshold=0.6)

In [11]:
print('Welcome Setji.Maari dukanama tamhara swagat che')
print("Mahara Passe ae ae vastu che ",list8)
cartitem=''
space=' '
list2=[]
ip='yes'
cartitem1=[]
while (len(cartitem1)!=len(list8)) and (ip=='yes'):
    user=input("Ave tu bol bakka tamne ke chiye: ")
    if user not in cartitem:
        cartitem+=space+user
        list2.append(user)
        cartitem1.append(user)
        pred=rules[rules['antecedents'].apply(lambda x:set(list2).issubset(set(x)))]
        if len(pred['consequents'])!=0:
                list1=pred['consequents']
                list1=list1.unique()
                for x in range(len(list1)):
                    if len(list1[x])==1:
                        st=str(list1[x])
                        if st[12:-3] not in cartitem:
                            print("Ae setji aah vastu par scheme che deu ka have ouh ")
                            print(st[12:-3])
        print("Havve tari total kharidari che :",cartitem)
        list2.remove(user)
    else:
        print('Ae dusra lene Bakka')
    if len(cartitem1)!=len(list8):
        ip=input("Aur bolo: ")
if len(cartitem1)==len(list8):
    print('Ae setji tamne toh maari puri dukan kahli karidi ae')
    print('Haave paisa apo 2 lakh crore')

Welcome Setji.Maari dukanama tamhara swagat che
Mahara Passe ae ae vastu che  ['Bread', 'Milk', 'Beer', 'Diapers', 'Eggs', 'Cola']
Ave tu bol bakka tamne ke chiye: Bread
Ae setji aah vastu par scheme che deu ka have ouh
Milk
Havve tari total kharidari che :  Bread
Aur bolo: yes
Ave tu bol bakka tamne ke chiye: Eggs
Havve tari total kharidari che :  Bread Eggs
Aur bolo: no

In [9]:
ip='yes'
list2=[]
cartitem=[]
while ip=='yes':
    user=input("What would you like to buy: ")
    if user not in cartitem:
        list2.append(user)
        cartitem.append(user)
        pred=rules[rules['antecedents'].apply(lambda x:set(list2).issubset(set(x)))]
        list1=pred['consequents']
        list1=list1.unique()
        for x in range(len(list1)):
            if len(list1[x])==1:
                st=str(list1[x])
                if st[12:-3] not in cartitem:
                    print("would you also like to buy ")
                    print(st[12:-3])
        list2.remove(user)
    else:
        print('You already bought that')
    ip=input('more? ')

What would you like to buy: eggs
more? no

In [10]:
list1=['Milk']
print(list1[-1])

Milk