- a program is said to learn from experience e with respect to some task t and performance measure p, if its performance at tasks in t, as measured by p, improves with experience e.

 ## Application
- Association analysis
- Supervised Learning
 - Classification
 - Regression/Prediction
- Unsupervised Learning
- Reinforcement Learning(Semi supervised)

## Association analysis

- simplest form of analysis
- given a set of transaction,find rules that will prdict the occurence of an item based on the occurences of other items in the transaction
- web usage ming,intrusion detection, continous production,and bioinfo

## Association Analysis

In [1]:
dataset=[['Bread','Milk','Beer'],['Bread','Diapers','Eggs'],['Milk','Diapers','Beer','Cola'],\
         ['Bread','Milk','Diapers','Beer'],['Bread','Milk','Cola']]
print(dataset)

[['Bread', 'Milk', 'Beer'], ['Bread', 'Diapers', 'Eggs'], ['Milk', 'Diapers', 'Beer', 'Cola'], ['Bread', 'Milk', 'Diapers', 'Beer'], ['Bread', 'Milk', 'Cola']]

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te=TransactionEncoder() ##algorithm to use to transform dataset into array format
te= te.fit(dataset) ## Read all unique items from dataset which will form the columns
te_ary=te.transform(dataset) ## converts the dataset into matrix having values true or false acc to the column
print(te.columns_)
print(te_ary)

['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']
[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]

In [3]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [4]:
from mlxtend.frequent_patterns import apriori
frequent_items=apriori(df,min_support=0.6,use_colnames=True)
frequent_items

   support       itemsets
0      0.6         (Beer)
1      0.8        (Bread)
2      0.6      (Diapers)
3      0.8         (Milk)
4      0.6   (Milk, Beer)
5      0.6  (Bread, Milk)

In [5]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_items,metric='support',min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

- confidence means propablity of this event occuring
- lift=confidence/consequent support
- leverage= support -(antecedent support * consequent support)
- leverage is the diff of (a and b appearing together) and (the frequency of them appearing as individual)
- conviction value is the dependence of the item on its consequent item
- conviction = (1-support(consequent))/(1-confidence)

In [6]:
association_rules(frequent_items,metric='confidence',min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [7]:
rules=association_rules(frequent_items,metric='support',min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [8]:
rules[rules['confidence']>0.8]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Beer),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [9]:
rules[rules['confidence']>=rules['support'].max()]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [13]:
cartitem=['Milk']
pred=rules[rules['antecedents'].apply(lambda x:set(cartitem).issubset(set(x)))]
pred
# issubset is going check whether the cart item is in the antecent series or not \
#and set is used to loose indexing meaning if milk is written first and bread is written second in cartitem and\
#antecent series contains bread,milk it should still show that column

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [11]:
pred['consequents']

2    (Milk)
Name: consequents, dtype: object