# Basics of Python

# Dictionary#

- creating and accessing dictionary

In [1]:
dict1={"jan":31,"feb":28,"march":31,"april":30} #dictionary is mutuable (can be modified)
#dict conatins keyword and its data
#no duplicate keys allowed in dictionary
#but the value can be duplicate
#value can also be list also to store multiple values
print(dict1)
print(type(dict1))

{'jan': 31, 'feb': 28, 'march': 31, 'april': 30}
<class 'dict'>

In [2]:
print(dict1['jan']) #accesing the value of specific key
print(dict1['feb'])
dict1["may"]=31 # add key may with value 31 into the dictionary
dict1['feb']=29 #as feb key is already present it will modify the existing data
print(dict1)

31
28
{'jan': 31, 'feb': 29, 'march': 31, 'april': 30, 'may': 31}

In [5]:
list1=[1,2,3,4]
list2=[5,6,7,8]
dict7={}
for i in range(len(list1)):
    dict7[list1[i]]=list2[i]
print(dict7)
print(min(list(dict7.values())))
print(*list1)

{1: 5, 2: 6, 3: 7, 4: 8}
5
1 2 3 4

- deleting dict1 key

In [4]:
print(dict1)
del dict1['feb'] #delete key and its value
print(dict1)

{'jan': 31, 'feb': 29, 'march': 31, 'april': 30, 'may': 31}
{'jan': 31, 'march': 31, 'april': 30, 'may': 31}

- uniqueness of key

In [5]:
dict1['feb']=[28,29] #this is adding multiple value to a single key
print(dict1)

{'jan': 31, 'march': 31, 'april': 30, 'may': 31, 'feb': [28, 29]}

In [6]:
#dict can only contain keywords having either numbers or string not a list whereas value can have anything
print(dict1.get('jan',None)) 
#this get func will print the value of key jan if key jan is present else it will print whatever instructed
#syntax of get func Dict.get(key, default=None)
print(dict1.get('jan',45))
print(dict1.get('june',None))
print(dict1.get('june',45))

31
31
None
45

In [7]:
print(dict1.items()) #this will print key and its value
print(type(dict1.items()))
print(list(dict1.items()))
print(type(list(dict1.items())))

dict_items([('jan', 31), ('march', 31), ('april', 30), ('may', 31), ('feb', [28, 29])])
<class 'dict_items'>
[('jan', 31), ('march', 31), ('april', 30), ('may', 31), ('feb', [28, 29])]
<class 'list'>

In [24]:
print(dict1.keys())
print(list(dict1.keys()))
print(dict1.values())
print(list(dict1.values()))
print(list(dict1)[0]) #as list is iterable indexing is possible
print(list(dict1.values())[0])
print(list(dict1.keys())[1])

dict_keys(['jan', 'march', 'april', 'may', 'feb'])
['jan', 'march', 'april', 'may', 'feb']
dict_values([31, 31, 30, 31, [28, 29]])
[31, 31, 30, 31, [28, 29]]
jan
31
march

## Tupple

In [9]:
tuple1=(34,5.78,'a','junaid','bye','gavar') #tupple is immutable
print(tuple1)
print(type(tuple1))
print(tuple1[0])
print(tuple1[1])
print(tuple1[:2])
print(tuple1[1:])
print(tuple1[1:2])
print(tuple1[3::])
print(tuple1[1::2])

(34, 5.78, 'a', 'junaid', 'bye', 'gavar')
<class 'tuple'>
34
5.78
(34, 5.78)
(5.78, 'a', 'junaid', 'bye', 'gavar')
(5.78,)
('junaid', 'bye', 'gavar')
(5.78, 'junaid', 'gavar')

## Loops

- range

In [10]:
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(range(0,10,2)) 
#range syntax is: range(start, stop, step)
print(list(range(0,10,2)))
print(list(range(0,10,3)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10, 2)
[0, 2, 4, 6, 8]
[0, 3, 6, 9]

- for loop

In [28]:
z=0
for x in list(range(1,10,2)):
    z+=x
    print(z,x,sep=' ',end='@') #sep and end is func of func 
    print("i am blue dabe dabae dade dabae dadae dabe dedae dabae dedae ")
z=0
for x in list(range(1,10,2)):
    z+=x
    print(z,end=' JS ')
    print()
print('shaikh','junaid',1998,sep='',end='@') 
#after execution of end func python's pointer doesnt jumps to the next line 
print('gmail.com')
print('shaikh','junaid','sj','07',sep='',end='@')
print('gmail.com')

1 1@i am blue dabe dabae dade dabae dadae dabe dedae dabae dedae
4 3@i am blue dabe dabae dade dabae dadae dabe dedae dabae dedae
9 5@i am blue dabe dabae dade dabae dadae dabe dedae dabae dedae
16 7@i am blue dabe dabae dade dabae dadae dabe dedae dabae dedae
25 9@i am blue dabe dabae dade dabae dadae dabe dedae dabae dedae
1 JS
4 JS
9 JS
16 JS
25 JS
shaikhjunaid1998@gmail.com
shaikhjunaidsj07@gmail.com

In [30]:
list1=['junaid','jalil','anjum','maqbul','sarabai','aabeid','shaikh']
for x in list1:
    print(x)
print(list1)
list1.remove('maqbul')
list1.remove('sarabai')
print(list1)

junaid
jalil
anjum
maqbul
sarabai
aabeid
shaikh
['junaid', 'jalil', 'anjum', 'maqbul', 'sarabai', 'aabeid', 'shaikh']
['junaid', 'jalil', 'anjum', 'aabeid', 'shaikh']

In [13]:
for item in range(1,10):
    if item%2==0:
        print(item)
    print('bye')

bye
2
bye
bye
4
bye
bye
6
bye
bye
8
bye
bye

- while loop

In [14]:
num=0
while num<5:
    print(num)
    num+=1

0
1
2
3
4

In [15]:
list1=[1,2,3,4,5]
while len(list1)>0:
    del list1[-1]
    print(list1)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

## String Functions

In [16]:
str1='apple mango cat batman'

print(str1.startswith('apple')) #check func but case sensitive
print(str1.startswith('Apple'))

print(str1.endswith('batman'))
print(str1.endswith(' batman'))
print(str1.endswith('batman '))
print(str1.endswith('n'))

if str1.startswith('A'):
    print('bakka')
else:
    print('pakka')

True
False
True
True
False
True
pakka

In [17]:
print(str1)
print(str1.startswith('mango',6)) #checks if mango is present from 6th elemnt of the string
print(str1.startswith('man',6,9)) #checks if mango is present from 6th till 9 elemnt of the string
print(str1.endswith('batman',15,21))
print(str1.endswith('tman',-5,-1))

apple mango cat batman
True
True
False
False

In [18]:
str2='000000Oh God Help00000000'
print(str2.strip('0')) #this will strip only repetitve value
print(str2.strip(' ')) #here ' ' is not repeating more than once hence not trimmed

str2='     Oh God Help    '
print(str2.strip())
str2='000000Oh God Help00000000'
print(str2.lstrip('0'))
print(str2.rstrip('0'))

Oh God Help
000000Oh God Help00000000
Oh God Help
Oh God Help00000000
000000Oh God Help

In [19]:
str1='MELLOW'
str2='mellow'
str3='MelloW'
print(str1.isupper()) #checks if whole str is upper or not
print(str2.isupper())
print(str3.isupper())
print(str1.islower())
print(str2.islower())
print(str3.islower())
print('str1 is upper case') if str1.isupper() else print('it is not an upper case')
print('str3 is upper case') if str3.isupper() else print('it is a lower case') if str3.islower() else print('it is mixed')
print('str2 is lower case') if str2.islower() else print('it is not a lower case')
print('str3 is lower case') if str3.islower() else print('it is a upper case') if str3.isupper() else print('it is mixed')

True
False
False
False
True
False
str1 is upper case
it is mixed
str2 is lower case
it is mixed

In [20]:
stringy='i love python baby'
cringy=stringy.replace('baby','honey')
print(cringy)
cringy1=stringy.replace('darling','honey') 
#as darling is not present in the string it wont throw an error else it will just ignore it
print(cringy1)
stry='i love python baby,i love python honey,i love python darling'
cringy2=stry.replace('love','like',1) #this will replace only once
print(cringy2)

i love python honey
i love python baby
i like python baby,i love python honey,i love python darling

In [32]:
fr='-'
date=fr.join(('12','01','1998'))
print(date)
date=fr.join(['12','01','1998'])
print(date)
gt='&'
list1=['junaid','tushar']
names=gt.join(list1)
print(names)
hy='cat,hog,dog'
ju=hy.split(',')
print(ju)
hy='cat,hog,dog'
ju=hy.split(',',1)
print(ju)

12-01-1998
12-01-1998
junaid&tushar
['cat', 'hog', 'dog']
['cat', 'hog,dog']